*,
body {
    padding: 0;
    margin: 0;
    box-sizing: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.background {
    background: url(/pexels-pixabay-235985.jpg) no-repeat center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.playerName {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
    margin: 70px;
}

.buttonInput {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inputPlayer1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.inputPlayer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.finishing {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 150px;
}